	table{
		margin: 10px!important;
		border-collapse: collapse!important;
	}
	.w3-blue{
		background-color:#2196F3!important
	}
	th{
		width: 100px!important;
		border:1px solid black !important;
		padding: 3px;	
		
	}
	td{
		width: 100px!important;	
		border:1px solid black !important;
		padding: 3px;			
		text-align: center!important;
	} 
	
